header {
    display: flex;
    text-align: center;
    max-width: 100vw;
    flex-direction: column;
}

.title {
    align-self: center;
}

.logo {
    height: 50%;
    width: 25%
}

.titlebox {
    flex-direction: row;
}