html, body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    text-align: center;
    width: 100vw;
    flex-direction: column;
}

.titlebox, nav, .navbox {
    display: flex;
    flex-direction: row;
}

.title {
    margin-left: 2vw;
    align-self: center;
}

.logo {
    width: 15%;
    height: auto;
    margin: 2vw;
}

.titlebox {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

nav {
    width: 80%;
    height: 10vh;
    margin: auto;
    border-bottom: 1px grey solid;
    border-top: 1px grey solid;
}

.navbox {
    width: 15%;
    height: 80%;
    margin: auto;
}

.navlogo {
    width: auto;
    height: 100%;
}

.navlink {
    margin: auto;
}